body,
html {
  width: 100%;
  
  background: #1c1d22;
  font-family: "Varela Round", sans-serif;
}

.texto{
  color: rgb(133, 131, 131);
  width: 60%;
  text-align: center;
  margin-left: 20%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  box-shadow: 30px 16px rgb(245, 245, 245);
}