.contenido{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    grid-gap: 30px;

}

.item{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 #4c4ac7;
    cursor: pointer;
    transition: all 200ms;
}

.item:hover{
    transform: scale(1.08);
}
.item-text{
    padding: 2em;
}
.item-img{
    max-width: 100%;
}

@media screen and (min-width: 500px) {
    .contenido{
        grid-template-columns: repeat(2, 1fr);
    }
}

.cat{
    width: 80%;
    margin: 100px 0px 50px 100px;
}


#info{
    width: 90%;
    margin-top: 100px;
    margin: 5%;
    font-size: 20px;
    text-align: center;
    background-color: rgb(81, 129, 218, .2);
}
th{
    background-color: #4c4ac7;
}

.enlaces{
    text-decoration: none;
    color: black;
}

.enlaces:hover{
    color: #6260d4;
}

h1{
    color: rgb(109, 109, 108);
}

.css-button-sliding-to-left--red {
    min-width: 230px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #1c1d22;
    overflow: hidden;
    border: 2px solid #d90429;
    color: #d90429;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
  }
  .css-button-sliding-to-left--red:hover {
    color: #fff;
  }
  .css-button-sliding-to-left--red:hover:after {
    width: 100%;
  }
  .css-button-sliding-to-left--red:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #d90429;
  }

.mas{
    text-decoration: none;
    color: white;
}